<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}"> 
   
    <body>
    <main>
    <div class="container pt-4">
			<div class="col-12">
				<h1>Your Orders</h1>
				<hr class="mt-1">
			</div>
			<div class="row mx-4">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">No</th>
							<th scope="col">Order No</th>
							<th scope="col">Order Date</th>
							<th scope="col">Shipping Address</th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="order, state: ${orders}" >
							<td>[[${state.index}]]</td>
							<td>[[${order.id}]]</td>
							<td>[[${order.createDate}]]</td>
							<td>[[${order.address}]]</td>
							<td>
							<a th:href="@{|/order/detail/${order.id}|}" class="btn btn-dark d-block mx-auto btn-submit">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
</svg>
							</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
    </main>
       
    </body>
</html>